@import "./variables.scss";

.body-portfolio {
  background: $bg-color2;
  color: $secondary-text;
  .btn2 {
    max-width: 17rem;
    text-align: center;
  }
}

.first-project-section {
  gap: 4rem;
  img {
    height: 100%;
    max-width: 90rem;
  }
  .project-container {
    gap: 4rem;
  }
}

.project-info {
  gap: 2rem;
}

.second-project-section {
  gap: 4rem;
}

.blog-project {
  align-items: flex-start;
  img {
    width: 67rem;
  }
}
