$primary-text: #000;
$secondary-text: #fff;
$accent-color: #d10561;
$gray-color: #a0a0a0;

$font-s: 1.6rem;
$font-m: 2.1rem;
$font-l: 4rem;
$font-xl: 7.6rem;

$bg-color: #fff;
$bg-color2: #101010;
$bg-color3: #1b1b1bcd;

$width-mob: 980px;
