@import "variables";
@import "base";
@import "header";
@import "portfolio";
@import "blog";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

/* banner section */
.banner-section {
  padding: 14rem 0 10.8rem;
}
.banner-info {
  gap: 3rem;
}

.banner-greeting {
  font-size: $font-m;
  font-weight: 500;
  letter-spacing: -0.1rem;
}

.banner-text {
  text-align: justify;
  max-width: 67rem;
}
.social-icons {
  gap: 1rem;
  svg {
    align-self: center;
    fill: $primary-text;
    width: 1.9rem;
    height: 1.9rem;
    transition: 8ms ease;
  }
  svg:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

/* skills section */
.skills-section {
  h2 {
    max-width: 40rem;
  }
  .container3 {
    position: relative;
    gap: 3rem;
  }
}

.skills-cards {
  .card {
    background-color: $bg-color3;
  }
  .card-title {
    font-weight: 600;
    font-size: $font-m;
  }
  svg {
    fill: $accent-color;
    width: 10rem;
    height: 10rem;
  }
}

.skills-info {
  align-items: start;
  margin-bottom: 2rem;
  @include isMobile {
    flex-direction: column;
    gap: 3rem;
  }
}

.skills-text {
  max-width: 67rem;
  text-align: right;
}

/* glide */
.glide__arrows-skills {
  display: flex;
  flex-direction: row-reverse;
  max-width: 40rem;
  position: absolute;
  top: -30%;
  right: 5%;
}

/* about section */
.about-container {
  gap: 3rem;
  align-items: center;
  h4,
  p {
    text-align: center;
  }
}

/* work section */
.work-section {
  .container3 {
    gap: 3rem;
  }
}

.work-titles-container {
  display: flex;
  align-items: baseline;
  position: relative;
  @include isMobile {
    flex-direction: column;
    gap: 3rem;
  }
  h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include isMobile {
      position: static;
      transform: none;
    }
  }
}

.work-cards {
  flex-wrap: wrap;
  gap: 1rem 1rem;
  .card {
    max-width: 64.5rem;
    background-color: $bg-color3;
  }
  a {
    font-weight: 500;
    text-decoration: underline;
  }
}

/* faq section */
.faq-section {
  gap: 3rem;

  p {
    font-size: $font-s;
    max-height: 0;
    overflow: hidden;
    padding: 1.6rem 0 0;
    transition: max-height 400ms ease-out;
    max-width: 80rem;
  }
  a {
    text-decoration: underline;
    font-weight: 500;
    color: rgb(95, 162, 239);
  }
}

summary {
  position: relative;
  list-style: none;
  font-size: $font-m;
  font-weight: 500;
  cursor: pointer;
  @include isMobile {
    font-size: $font-s;
    padding-right: 1rem;
  }
}

summary::after {
  content: "+";
  position: absolute;
  right: 0;
  font-size: 2.5rem;
  transition: transform 0.6s ease;
  @include isMobile {
    top: -10%;
  }
}

details[open] {
  summary::after {
    transform: rotate(45deg);
    position: absolute;
    right: 0;
  }
}

details[open] + p {
  max-height: 80rem; /* Set a max-height value enough to show all the content */
  transition: max-height 400ms ease-out;
}

.faq-questions {
  gap: 2rem;
}

/* projects section */
.projects-section {
  .fx-col-sb {
    gap: 3rem;
    align-items: center;
  }

  .projects-cards {
    gap: 2rem;
    @include isMobile {
      flex-direction: column;
    }
  }

  .card {
    padding: 0;
  }
}

.project-card-img {
  display: block;
  max-width: 30rem;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  cursor: pointer;
  &:hover {
    filter: none;
  }
  img {
    width: 100%;
  }
  @include isMobile {
    filter: none;
  }
}

/* testimonials section */
.testimonials-section {
  gap: 3rem;
}

.review {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.review-img {
  background-color: $gray-color;
  width: 9rem;
  height: 9rem;
  margin-top: -2rem;
  border-radius: 50%;
}

.review-cards {
  .card {
    max-width: 67rem;
    background-color: $bg-color2;
    color: $secondary-text;
  }
}

.footer {
  width: 100%;
  padding: 1rem 0;
  p {
    text-align: center;
  }
}

/* modal */
.modal {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.8s ease-out;
  pointer-events: none;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  margin: 0 auto;
  width: 50%;
  height: 80%;
  @include isMobile {
    .modal-form-container {
      padding: 1rem 2.5rem;
    }
    width: 90%;
    height: 70%;
  }
}

.modal-form-container {
  padding: 4rem 3rem;
  p {
    text-align: center;
    font-weight: 600;
    font-size: $font-m;
    margin: 1rem 0;
  }
  .social-icons {
    max-width: 10rem;
    margin: 0 auto;
    padding: 4rem 0 0;
  }
}

.modal-bg {
  width: 50%;
  height: 100%;
  background: url("../img/bg.jpg") center/cover;
  filter: hue-rotate(5deg) brightness(77%);
}

.btn-modal[class] {
  border: none;
}

.close {
  position: absolute;
  right: 3rem;
  top: 2rem;
  color: #aaa;
  font-size: 3rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}
.modal-form {
  gap: 1.8rem;
  textarea {
    resize: none;
  }
  input,
  textarea {
    border: 0.1rem solid #888;
    margin-top: 0.3rem;
    border-radius: 3rem;
    padding: 1rem 2rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 0.68vw;
  }
}

@media (max-width: $width-mob) {
  html {
    font-size: 2.4vw;
  }
  .banner-section {
    padding: 12.6rem 0 6rem;
  }
}
